.experience-container {
    width: 100%;

    @media screen and (max-width: 500px) {
        width: 100%;
    }

    .experience-frontend {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        background: #272838;
        padding: 2.4rem 5rem;
        border-radius: 2rem;
        border: 1px solid #fdd700;
        color: #fff;
        transition: ease-in;

        @media screen and (max-width: 500px) {
            display: flex;
            justify-content: center;
        }

        &:hover {
            background: transparent;
        }

        h2 {
            text-align: center;
            margin: 2rem;
            color: #fdd700;
        }
    }

    h2 {
        color: #F9F8F8;
        font-size: 25px;

        @media screen and (max-width: 500px) {
            width: 100%;
            text-align: center;
            font-size: 20px;
        }
    }
}

.skill-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    padding: 20px;
    border-radius: 100%;
    background-color: #fff;

    .icon {
        height: 4rem;
        object-fit: contain;
        transition: opacity 0.3s ease-in-out;
    }

    .display-text {
        position: absolute;
        font-size: 15px;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        color: #000;
    }

    &:hover {
        .icon {
            opacity: 0;
        }

        .display-text {
            opacity: 1;
            text-align: center;
        }
    }
}


@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {
    .experience-page {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20%;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        .text-zone {
            margin: 0;
        }

        .experience-frontend {
            width: 90%;

            // .skill-circle {
            //     height: 20px;
            //     width: 20px;

            //     .icon {
            //         height: 100%;
            //     }
            // }
        }
    }
}
.skill-zone {
    @media screen and (max-width: 500px) {
    }

}