.experience-container {

    .experience-frontend {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        background: #1818187a;
        padding: 2.4rem 5rem;
        border-radius: 2rem;
        border: 1px solid #fdd700;
        color: #fff;
        transition: ease-in;

        &:hover {
            background: transparent;
        }

        h2 {
            text-align: center;
            margin: 2rem;
            color: #fdd700;
        }
    }
}

.experience-icon {
    margin-top: 15px;
}

h4 {
    margin: 0;
    font-size: 20px;
}

.text-light {
    margin: 0;
}

.skill-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 100%;
    background-color: #fff;

    .icon {
        height: 3.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .experience-container .experience-frontend {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 2.4rem 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }
}

/* Media queries for desktop devices */
@media only screen and (min-width: 768px) {
    .experience-container .experience-frontend {
        padding: 2.4rem 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}

