.about-zone {

    @media screen and (max-width: 400px) {
        width: 70%;
        left: 15%;
        margin-top: 160px;
    }

    h1 {
        @media screen and (max-width: 400px) {
            text-align: center;
        }
    }

    p {
        @media screen and (max-width: 400px) {
            margin: 10px 5px;
        }
    }
}

