.text-container {
    padding: 20px 20px; /* decrease the padding */
    height: fit-content;
    background-color: #5A5E5E;
    
    @media only screen and (max-width: 767px) {
      padding: 10px 10px;
    }
  }
  
  .text {
    font-family: 'Coolvetica';
    font-size: 23px;
    line-height: 1.5;
    color: #C4C9C3;
    position: relative;
    left: 5%;
    margin-right: 65px;
    
    @media only screen and (max-width: 767px) {
      font-size: 18px; /* decrease the font size */
      margin-right: 10px; /* decrease the margin */
    }
  }
  