.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 39%;
        max-height: 90%;
        z-index: 1;

        @media screen and (max-width: 768px) {
            /* Adjust the styles for smaller screens */
            position: relative;
            left: 20%;
            margin-top: 30px;
            transform: none;
            width: 55%;
            max-height: none;
        }

        @media screen and (max-width: 500px) {
            width: 40%;
            left: 20%;
            margin-top: 160px;
            contain: content;
            overflow-y: hidden;
        }

        @media screen and (max-width: 850px) {
            position: absolute;
            left: 10%;
            top: 30px;
            width: 90%;
        }
    }

    h1 {
        color: #fff;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        @media screen and (max-width: 500px) {
            width: 90%;
            left: 0;
            font-size: 38px;
        }

        img {
            margin-left: 10px;
            margin-right: 2px;
            opacity: 0;
            width: auto;
            height: 70px;
            animation: jackInTheBox 1s linear both;
            animation-delay: 1.4s;

            @media screen and (max-width: 500px) {
                width: 15%;
                height: 50px;
            }
        }
    }

    h2 {
        color: #272838;
        margin-top: 20px;
        font-weight: 400;
        font-size: 13px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;

        @media screen and (max-width: 768px) {
            /* Adjust the styles for smaller screens */
            font-size: 18px;
            letter-spacing: 1px;
            margin-top: 10px;
        }

        @media screen and (max-width: 500px) {
            width: 70%;
            left: 15%;
            font-size: 13px;
        }
    }

    .flat-button {
        color: #F3DE8A;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #F3DE8A;
        border-radius: 2rem;
        margin-top: 25px;
        float: left;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;

        @media screen and (max-width: 768px) {
            /* Adjust the styles for smaller screens */
            font-size: 18px;
            letter-spacing: 1px;
            margin-top: 10px;
            display: block;
            float: none;
        }

        @media screen and (max-width: 500px) {
            width: 70%;
            left: 15%;
            text-align: center;
        }
        

        &:hover {
            border: 1px solid #EB9486;
            background: #EB9486;
            color: #272838;
        }
    }
}

.logo-container {
    float: right;
    position: relative;
    top: 10%;
    right: 15%;
    animation: zoomIn 1s;

    .photo {
        height: 500px;
        border-radius: 50%;
        z-index: 0;
        border: 3px #F3DE8A double;
    }


    @media screen and (max-width: 768px) {
        /* Adjust the styles for smaller screens */
        position: relative;
        top: 0;
        left: 1%;
        float: none;
        margin: 0 auto;
        text-align: center;

        .photo {
            height: auto;
            width: 80%;
            max-width: 500px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 850px) {
        position: absolute;
        left: 20%;
        top: 380px;
    }

    @media screen and (max-width: 500px) {
        width: 70%;
        left: 15%;
        margin-top: 240px;
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;

    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}
