.work-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    margin: 0;

    @media screen and (max-width: 500px) {
        width: 70%;
    }

    div {
        border: 2px #EB9486 solid;
        background-color: #272838;
        border-radius: 2rem;
        text-align: center;
        box-shadow: 5px 8px 8px 8px #dbdada5b;

        &:hover {
            cursor: pointer;
            border: 2px white solid;
            box-shadow: 5px 8px 3px 8px #000508;

        }
    }

    img {
        width: 200px;
        height: 100px;
        margin: 15px 20px;
        border: 2px transparent solid;
        border-radius: 2rem;
    }

    h2 {
        color: #fdd700;
        font-size: 23px;
        align-self: normal;
        justify-self: center;
        margin: 0;
        margin-bottom: 10px;
    }
}