.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 160vw;

    .experience-frontend {
        background: #0000001d;
        padding: 2.4rem 5rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        color: #fff;
        transition: ease-in;

        &:hover {
            background: transparent;
            border-color: #fdd700;
            cursor: default;
        }

        h2 {
            text-align: center;
            margin: 2rem;
            color: #fdd700;
        }
    }
}

.experience-content {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    row-gap: 2rem;
    column-gap: 2rem;
}

.experience-details {
    display: flex;
    gap: 1rem;

}

.experience-icon {
    margin-top: 15px;
}

h4 {
    margin: 0;
    font-size: 20px;
}

.text-light {
    margin: 0;
}