.work-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 500px) {
        display: flex;
        width: 100%;
        margin-top: 150px;
        text-align: center;
    }
}


.work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px 10px;
    border: 2px white solid;
    border-radius: 2rem;

    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        height: 200px;
    }
}

