.work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .work-item {

        img {
            height: 50%;
            width: 50%;
        }
    }
}

